extends ../_base/_layout
block append vars
  - var path = '../';
  - var title = 'sample';
block title
  title= 'sample site title' + ' | ' + title
block append meta
block append link
  link(rel="stylesheet" href=`${path}assets/css/sample.css`)
block body
  #wrapper.ly_wrapper
    include ../_parts/_header
    main.ly_main
      h2 Webフォント（.woff2 / .woff）の適用例
        .set-notosans
          p(style={"font-weight": "100"}) これはNoto Sans fontです
          p(style={"font-weight": "300"}) これはNoto Sans fontです
          p(style={"font-weight": "400"}) これはNoto Sans fontです
          p(style={"font-weight": "500"}) これはNoto Sans fontです
          p(style={"font-weight": "700"}) これはNoto Sans fontです
          p(style={"font-weight": "900"}) これはNoto Sans fontです

      h2 keen-sliderによるスライダーの展開
      .keen-slider
        .keen-slider__slide.number-slide1 1
        .keen-slider__slide.number-slide2 2
        .keen-slider__slide.number-slide3 3
        .keen-slider__slide.number-slide4 4
        .keen-slider__slide.number-slide5 5
        .keen-slider__slide.number-slide6 6
      
      - for (var x = 0; x < 5; x++)
        br

      h2 PixiJS
      .pixi

      - for (var x = 0; x < 5; x++)
        br

      h2 Chartjs
      canvas#myChart
        
      h2 Hero（画面縦幅100vh表示サンプル。iOSでも表示可能）
      .bl_hero

      - for (var x = 0; x < 150; x++)
        br
      .observerArea(style="background: pink; height: 200px;")
        p 交差オブザーバーAPIの対象エリア


    include ../_parts/_footer
block append script
  script(src=`${path}assets/js/sample.js`)
