@charset "UTF-8";

/* --------------------
      foundation
-------------------- */
// variable
@use './foundation/variable/color' as *;
@use './foundation/variable/font' as *;
@use './foundation/variable/size' as *;
// animation
@use './foundation/animation/rotate' as *;
// function
@use './foundation/function/half' as *;
@use './foundation/function/rem' as *;
@use './foundation/function/vw' as *;
// mixin
@use './foundation/mixin/media-query-with-tab' as *;
// @use './foundation/mixin/media-query' as *;
@use './foundation/mixin/browsers' as *;
@use './foundation/mixin/set-font-face' as *;

/* --------------------
      base
-------------------- */
@use './base/reset' as *;
@use './base/base' as *;

/* --------------------
      layout
-------------------- */
@use './layout/wrapper' as *;
@use './layout/header' as *;
@use './layout/main' as *;
@use './layout/footer' as *;

/* --------------------
      module
-------------------- */

// element
@use './module/element/btn' as *;
@use './module/element/banner' as *;

// block
@use './module/block/card' as *;
@use './module/block/media' as *;
@use './module/block/pager' as *;
@use './module/block/horizBtnList' as *;
@use './module/block/headerCont' as *;
@use './module/block/footerCont' as *;
@use './module/block/fixBanner' as *;
@use './module/block/hero' as *;

/* --------------------
      unique
-------------------- */

/* --------------------
      program
-------------------- */
@use './program/fixBanner' as *;

/* --------------------
      helper
-------------------- */
@use './helper/clearfix' as *;
@use './helper/margin' as *;
@use './helper/padding' as *;

/* --------------------
      node_moduels
-------------------- */
@use '../../node_modules/keen-slider/keen-slider' as *;


/* --------------------
      font-face
-------------------- */
$fontFaces : 
  (name: "Noto Sans JP", path: '../fonts/notosansjp/NotoSansJP-Thin',    weight:100, style: normal, exts: woff2 woff ),
  (name: "Noto Sans JP", path: '../fonts/notosansjp/NotoSansJP-Light',   weight:300, style: normal, exts: woff2 woff ),
  (name: "Noto Sans JP", path: '../fonts/notosansjp/NotoSansJP-Regular', weight:400, style: normal, exts: woff2 woff ),
  (name: "Noto Sans JP", path: '../fonts/notosansjp/NotoSansJP-Medium',  weight:500, style: normal, exts: woff2 woff ),
  (name: "Noto Sans JP", path: '../fonts/notosansjp/NotoSansJP-Bold',    weight:700, style: normal, exts: woff2 woff ),
  (name: "Noto Sans JP", path: '../fonts/notosansjp/NotoSansJP-Black',   weight:900, style: normal, exts: woff2 woff );

@each $fontFace in $fontFaces {
  @include set-font-face(
    map-get($fontFace, 'name'),
    map-get($fontFace, 'path'),
    map-get($fontFace, 'weight'),
    map-get($fontFace, 'style'),
    map-get($fontFace, 'exts')
  );
}

.set-notosans {
  font-family: $fontNotoSansJp;
}
.set-min {
  font-family: serif;
}
